@model ClubRP.Models.Groupe

<h2>@Html.DisplayName(ClubRP.Views.Shared.SharedRessources.Detail</h2>

<div>
    <h4>@Html.DisplayName(ClubRP.Views.Shared.SharedRessources.Groups)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(ClubRP.Views.Groupes.GroupeRessources.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            @Html.DisplayName(ClubRP.Views.Groupes.GroupeRessources.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName(ClubRP.Views.Groupes.GroupeRessources.Creation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creation)
        </dd>

        <dt>
            @Html.DisplayName(ClubRP.Views.Groupes.GroupeRessources.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUserID)
        </dd>

        <dt>
            @Html.DisplayName(ClubRP.Views.Groupes.GroupeRessources.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auteur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Joueurs)
        </dt>

        <dd>
           @foreach (ClubRP.Models.Joueur p in Model.Joueurs)
           {
               <p>@p.Nom</p>
           }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Modify, "Edit", new { id = Model.ID }) |
    @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.BtnBack, "Index")
</p>
