@model IEnumerable<ClubRP.Models.Groupe>

<h2>@Html.DisplayName(ClubRP.Views.Shared.SharedRessources.Groups)</h2>

<p>
    @Html.ActionLink(ClubRP.Views.Groupes.GroupeRessources.CreateNew, "Create")
</p>
<p>
    @Html.ActionLink(ClubRP.Views.Groupes.GroupeRessources.CreateNewUser, "Create","Joueurs")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auteur)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auteur)
        </td>
        <td>
            @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Modify, "Edit", new { id=item.ID }) |
            @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Detail, "Details", new { id=item.ID }) |
            @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Delete, "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
