@model ClubRP.Models.Joueur

@{
    ViewBag.Title = "Delete";
}

<h2>@Html.DisplayName(ClubRP.Views.Shared.SharedRessources.Delete)</h2>

<h3>@Html.DisplayName(ClubRP.Views.Shared.SharedRessources.DeleteMessage)</h3>
<div>
    <h4>Joueur</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayName(ClubRP.Views.Groupes.GroupeRessources.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayName(ClubRP.Views.Groupes.GroupeRessources.GameMaster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maitre)
        </dd>

        <dt>
            @Html.DisplayName(ClubRP.Views.Groupes.GroupeRessources.Specialisation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialisation)
        </dd>

        <dt>
            @Html.DisplayName(ClubRP.Views.Groupes.GroupeRessources.GroupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupeID)
        </dd>

        <dt>
            @Html.DisplayName(ClubRP.Views.Groupes.GroupeRessources.CharacterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personnage.PersonnageID)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@ClubRP.Views.Shared.SharedRessources.Delete class="btn btn-default" /> |
            @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.BtnBack, "Index", "Groupes")
        </div>
    }
</div>
