@model IEnumerable<ClubRP.Models.Joueur>

@{
    ViewBag.Title = "Index";
}

<h2>@ClubRP.Views.Shared.SharedRessources.MainPage</h2>


<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maitre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialisation)
        </th>
        <th>
            Groupé
        </th>
        <th>
            Personnage
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maitre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialisation)
        </td>
        <td>
            @if(item.GroupeID != null)
            {
                <p>Oui</p>
            }
            else
            {
                <p>Non</p>
            }
        </td>
        <td>
            @if(item.PersonnageID != null)
            {
                <p>Oui</p>
            }
            else
            {
                <p>Aucun</p>
            }
        </td>
        <td>
            @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Modify, "Edit", new { id = item.JoueurID }) |
            @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Detail, "Details", new { id = item.JoueurID }) |
            @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Delete, "Delete", new { id = item.JoueurID })
        </td>
    </tr>
}

</table>
