@model IEnumerable<ClubRP.Models.Joueur>

@{
    ViewBag.Title = "Index";
}

<h2>@ClubRP.Views.Shared.SharedRessources.MainPage</h2>
@Html.ActionLink(ClubRP.Views.Groupes.GroupeRessources.CreatePlayer, "Create", "Personnages")
<table class="table">
    <tr>
        <th>
            @Html.DisplayName(ClubRP.Views.Groupes.GroupeRessources.Name)
        </th>
        <th>
            @Html.DisplayName(ClubRP.Views.Groupes.GroupeRessources.GameMaster)
        </th>
        <th>
            @Html.DisplayName(ClubRP.Views.Groupes.GroupeRessources.Specialisation)
        </th>
        <th>
            @ClubRP.Views.Groupes.GroupeRessources.Grouped
        </th>
        <th>
            @ClubRP.Views.Groupes.GroupeRessources.HasCharacter
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maitre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialisation)
        </td>
        <td>
            @if(item.GroupeID != null)
            {
                <p>@ClubRP.Views.Groupes.GroupeRessources.Yes</p>
            }
            else
            {
                <p>@ClubRP.Views.Groupes.GroupeRessources.No</p>
            }
        </td>
        <td>
            @if (item.Personnages != null)
            {
                <p>@ClubRP.Views.Groupes.GroupeRessources.Yes</p>
            }
            else
            {
                <p>@ClubRP.Views.Groupes.GroupeRessources.No</p>
            }
        </td>
        <td>
            @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Modify, "Edit", new { id = item.JoueurID }) |
            @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Detail, "Details", new { id = item.JoueurID }) |
            @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Delete, "Delete", new { id = item.JoueurID })
        </td>
    </tr>
}

</table>
@Html.ActionLink(ClubRP.Views.Shared.SharedRessources.BtnBack, "Index", "Groupes")