@{

}
<h2>@Html.DisplayName(ClubRP.Views.Shared.SharedRessources.MeetUs)</h2>

<style>
    #map {
        width: 800px;
        height: 500px;
    }
</style>

<script language="JavaScript" src="https://maps.googleapis.com/maps/api/js"></script>
<script language="JavaScript" src="~/Scripts/GoogleMaps.js"></script>
<div id="map"></div>

<address style="font-weight:bold">
    <br>
    @Html.DisplayName(ClubRP.Views.Shared.ContentRessources.ContactAddress1)<br />
    @Html.DisplayName(ClubRP.Views.Shared.ContentRessources.ContactAddress2)<br />
    <abbr> @Html.Raw(ClubRP.Views.Shared.ContentRessources.ContactTelephone) </abbr>
    514-555-6767
</address>

<address>
    <strong>@Html.Raw(ClubRP.Views.Shared.ContentRessources.ContactAssistance)</strong>   <a href="icosaedre@roleplay.com">icosaedre@roleplay.com</a><br />
</address>
<p>
    @Html.Raw(ClubRP.Views.Shared.ContentRessources.ContactMessage)
    @*Vous pouvez nous contacter par téléphone du lundi au vendredi de 9:00 à 21:00 et la fin de semaine  de 12:00 a 23:00 ou par courriel en tout temps (délai de 24 heures maximum possible), ainsi que par la poste à l'adresse ci-dessus.*@
</p>

