@model ClubRP.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Texte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostID)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Modifier", "Edit", new { id = Model.MessageID }) |*@
    @Html.ActionLink(linkText: "Retour au forum", actionName: "Index", controllerName: "Posts")
</p>
