@model IEnumerable<ClubRP.Models.Message>

<h2>@Html.DisplayName(ClubRP.Views.Membres.MembreRessources.Index)</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Texte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Texte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostID)
        </td>
        <td>
            @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Modify, "Edit", new { id=item.MessageID }) |
            @*@Html.ActionLink("Détails", "Details", new { id=item.MessageID }) |*@
            @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Delete, "Delete", new { id=item.MessageID })
        </td>
    </tr>
}
</table>