@model ClubRP.Models.Post

@{
    ViewBag.Title = "Details";
}


<div>
    <h2>@Model.Titre</h2>
    <hr />
    <dl class="dl-horizontal">
        @foreach (ClubRP.Models.Message p in Model.Messages)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Auteur)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Auteur)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Messages)
            </dt>
            <dd>
                @p.Texte
                <br />
            </dd>
            
        }
        

        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
