@model ClubRP.Models.Post

@{
    ViewBag.Title = "Détails";
}


<div>
    <h2>@Model.Titre</h2>
    <hr />
    <p>@Html.ActionLink(linkText: "Répondre", actionName: "Create", controllerName: "Messages", routeValues: new { postId = Model.ID }, htmlAttributes: null)</p>
    <table class="table">
        @{
            var sortedMessage = from entry in Model.Messages orderby entry.DateMessage ascending select entry;
        }
        @foreach (ClubRP.Models.Message p in sortedMessage)
            {
            <tr>
                <td>@Html.DisplayNameFor(model => model.Auteur)</td>
                <td colspan="2">@Html.DisplayNameFor(model => model.Messages)</td>
            </tr>
                <tr>
                    <td>@Html.DisplayFor(model => model.Auteur) <br /> Images<br />@(p.DateMessage)</td>
                    <td>
                        @p.Texte
                    </td>
                    <td>@Html.ActionLink(linkText: "Modifier", actionName: "Edit", controllerName: "Messages", routeValues: new { id = p.MessageID }, htmlAttributes: null) @Html.ActionLink(linkText: "Effacer", actionName: "Delete", controllerName: "Messages", routeValues: new { id = p.MessageID }, htmlAttributes: null)</td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                </tr>

        }
    </table>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.ID }) |
    @Html.ActionLink(linkText: "Retour au forum", actionName: "Index", controllerName: "Posts")
</p>
