@model IEnumerable<ClubRP.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>L'isocaèdre</h2>

<p>
    @Html.ActionLink("Créer un nouveau post", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auteur)
        </th>
        <th>
            Réponse
        </th>
        <th>
            Dernier
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Titre, "Details", new { id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auteur)
            </td>
            <td>
                @{
                    if (item.Messages.Count > 0)
                    {
                        @Html.DisplayFor(modelItem => item.Messages.Last().AuteurMessage);
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Messages.Count)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.ID }) |

                @Html.ActionLink("Effacer", "Delete", new { id = item.ID })
            </td>
        </tr>
                    }

</table>
