@model IEnumerable<ClubRP.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>L'isocaèdre</h2>
@if (User.IsInRole("Modérateurs") || User.IsInRole("Administrateurs"))
{
    <p>@Html.ActionLink("Créer un nouveau post", "Create")</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Auteur
        </th>
        <th>
            Dernier
        </th>
        <th>
            Nb réponses
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Titre, "Details", new { id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auteur)

            </td>
            <td>
                @{
                    if (item.Messages.Count > 0)
                    {
                        @Html.DisplayFor(modelItem => item.Messages.Last().Auteur);
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Messages.Count)
            </td>
            <td>
                @if (User.IsInRole("Modérateurs") || User.IsInRole("Administrateurs"))
                {
                    @Html.ActionLink("Modifier", "Edit", new { id = item.ID }) 
                    <p> </p>
                    @Html.ActionLink("Effacer", "Delete", new { id = item.ID })
                }

            </td>
        </tr>
                }

</table>
