@model IEnumerable<ClubRP.Models.Post>

<h2>L'icosaèdre</h2>

@if (User.IsInRole("Modérateurs") || User.IsInRole("Administrateurs"))
{
    <p>@Html.ActionLink(ClubRP.Views.Posts.PostRessources.CreatePost, "Create")</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auteur)
        </th>
        <th>
            @Html.ActionLink(ClubRP.Views.Posts.PostRessources.Last, "Last")
        </th>
        <th>
            @Html.ActionLink(ClubRP.Views.Posts.PostRessources.NbReply, "Replies")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Titre, "Details", new { id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auteur)
            </td>
            <td>
                @{
                    if (item.Messages.Count > 0)
                    {
                        @Html.DisplayFor(modelItem => item.Messages.Last().Auteur);
                    }
                    else
                    {
                        <p>@Html.DisplayName(ClubRP.Views.Posts.PostRessources.None)</p>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Messages.Count)
            </td>
            <td>
                @if (User.IsInRole("Modérateurs") || User.IsInRole("Administrateurs"))
                {
                    @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Modify, "Edit", new { id = item.ID })
                    <p> </p>
                    @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Delete, "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }
</table>

@if (User.IsInRole("Modérateurs") || User.IsInRole("Administrateurs"))
{
    <p>@Html.ActionLink(ClubRP.Views.Posts.PostRessources.CreatePost, "Create")</p>
}