@model ClubRP.Models.ApplicationUser

@{
    ViewBag.Title = "Détails";
}

<h2>@Html.DisplayName(ClubRP.Views.Shared.SharedRessources.Detail)</h2>

<div>
    <h4>@Html.DisplayName(ClubRP.Views.Membres.MembreRessources.User)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(ClubRP.Views.Membres.MembreRessources.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayName(ClubRP.Views.Membres.MembreRessources.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayName(ClubRP.Views.Membres.MembreRessources.LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.details.Nom)
        </dd>

        <dt>
            @Html.DisplayName(ClubRP.Views.Membres.MembreRessources.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.details.Prenom)
        </dd>

        <dt>
            @Html.DisplayName(ClubRP.Views.Membres.MembreRessources.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.details.Role)
        </dd>

        <dt>
            Image:
        </dt>
        <dd>
            @{
                string src = "";
                src = "data:" + Model.details.ImageType + ";base64," + Convert.ToBase64String(Model.details.ImageData);
                <img src="@src" height="140" width="100" alt=@Model.details.ImageNom />
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Modify, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.BtnBack, "Index")
</p>