@model ClubRP.Models.AspNetUsersInfoSup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AspNetUsersInfoSup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageNom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageNom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageTaille)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageTaille)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageData)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
