@model ClubRP.Models.Personnage

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ClubRP.Views.Shared.SharedRessources.Delete</h2>

<h3>@ClubRP.Views.Shared.SharedRessources.DeleteMessage</h3>
<div>
    <h4>@ClubRP.Views.Shared.SharedRessources.Personnage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomPerso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomPerso)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@ClubRP.Views.Shared.SharedRessources.Create class="btn btn-default" /> |
            @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.BtnBack, "Index")
        </div>
    }
</div>
