@model ClubRP.Models.Personnage

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Personnage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomPerso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomPerso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Race)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Race)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Niveau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Niveau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alignement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alignement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Force)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Force)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dexterite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dexterite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Constitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Constitution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charisme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charisme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intelligence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sagesse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sagesse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vigueur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vigueur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volonte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volonte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reflexe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reflexe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VigueurBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VigueurBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolonteBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolonteBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReflexeBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReflexeBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaBBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaBBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Initiative)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initiative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitiativeBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitiativeBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lutte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lutte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LutteBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LutteBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deplacement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deplacement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NaturalAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NaturalAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResistanceSort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResistanceSort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReductionDegat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReductionDegat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomArme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomArme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Degats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Munition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Munition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailsArme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailsArme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomArmure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomArmure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArmureAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArmureAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeArmure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeArmure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Malus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Malus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailsArmure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailsArmure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Appraise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appraise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bluff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bluff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Climb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Climb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concentration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concentration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Craft1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Craft1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Craft1Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Craft1Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Craft2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Craft2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Craft2Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Craft2Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Craft3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Craft3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Craft3Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Craft3Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Decipher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Decipher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diplomacy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diplomacy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisableDevice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisableDevice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disguise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disguise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EscapeArtist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EscapeArtist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Forgery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forgery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GatherInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GatherInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandleAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandleAnimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Heal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Heal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intimidate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intimidate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jump)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jump)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knowledge1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knowledge1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knowledge1Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knowledge1Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knowledge2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knowledge2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knowledge2Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knowledge2Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knowledge3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knowledge3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knowledge3Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knowledge3Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knowledge4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knowledge4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knowledge4Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knowledge4Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knowledge5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knowledge5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Knowledge5Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Knowledge5Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Listen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Listen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoveSilently)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoveSilently)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenLock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenLock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perform1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perform1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perform1Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perform1Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perform2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perform2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perform2Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perform2Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profession1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profession1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profession1Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profession1Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profession2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profession2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profession2Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profession2Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ride)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ride)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Search)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Search)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenseMotive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenseMotive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SleightOfHand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SleightOfHand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spellcraft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spellcraft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Survival)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Survival)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Swim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Swim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tumble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tumble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UMD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UMD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseRope)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseRope)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoueurID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoueurID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
