@model ClubRP.Models.Personnage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Modificateur de stat
    var ModFor = (Model.Force - 10) / 2;
    var ModDex = (Model.Dexterite - 10) / 2;
    var ModCon = (Model.Constitution - 10) / 2;
    var ModSag = (Model.Sagesse - 10) / 2;
    var ModInt = (Model.Intelligence - 10) / 2;
    var ModCha = (Model.Charisme - 10) / 2;
}

<h2>@Html.DisplayFor(model => model.NomPerso)</h2>

<div>
    @*Section Info base-------------------------------------------------*@
    <h4> @Html.DisplayName(ClubRP.Views.Personnages.PersoRessources.Informations)</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Race)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Race)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Classe)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Classe)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Gold)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Gold)
                </dd>
            </dl>
        </div>

        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Alignement)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Alignement)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Niveau)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Niveau)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Experience)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Experience)
                </dd>
            </dl>
        </div>

    </div>

    @*Section stats ------------------------------------------------*@

    <h4> @Html.DisplayName(ClubRP.Views.Personnages.PersoRessources.Stats)</h4>
    <hr />
    <div class="row">
        <div class="col-md-1">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Force)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Force)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Dexterite)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Dexterite)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Constitution)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Constitution)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Sagesse)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sagesse)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Intelligence)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Intelligence)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Charisme)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Charisme)
                </dd>

            </dl>
        </div>
        <div class="col-md-3">
            <dl class="dl-horizontal">

                <dd>
                    @ModFor
                </dd>

                <dd>
                    @ModDex
                </dd>

                <dd>
                    @ModCon
                </dd>

                <dd>
                    @ModSag
                </dd>

                <dd>
                    @ModInt
                </dd>

                <dd>
                    @ModCha
                </dd>

            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Vigueur)
                </dt>

                <dd>
                    @(Model.Vigueur + Model.VigueurBonus)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Volonte)
                </dt>

                <dd>
                    @(Model.Volonte + Model.VolonteBonus)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Reflexe)
                </dt>

                <dd>
                    @(Model.Reflexe + Model.ReflexeBonus)
                </dd>
                <p></p>
                <dt>
                    @Html.DisplayName(ClubRP.Views.Personnages.PersoRessources.NomArme)
                </dt>

                <dd>
                    @(Model.BaB + Model.BaBBonus + Model.Hit)
                </dd>
                <dt>
                    @Html.DisplayName(ClubRP.Views.Personnages.PersoRessources.NomArme2)
                </dt>

                <dd>
                    @(Model.BaB + Model.BaBBonus + Model.Hit2)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.HP)
                </dt>

                <dd>
                    @(Model.HP)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Initiative)
                </dt>

                <dd>
                    @(Model.Initiative + ModDex)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Deplacement)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Deplacement)
                </dd>
                <p></p>
                <dt>
                    @Html.DisplayNameFor(model => model.Lutte)
                </dt>

                <dd>
                    @(Model.LutteBonus + Model.BaB + ModFor)
                </dd>
            </dl>
        </div>
    </div>

    @*Section defense-------------------------------------------------*@
    <h4> @Html.DisplayName(ClubRP.Views.Personnages.PersoRessources.Defence)</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.AC)
                </dt>

                <dd>
                    @(Model.AC + 10 + Model.NaturalAC + Model.ACBonus + Model.ArmureAC + Model.BouclierAC + ModDex)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NaturalAC)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NaturalAC)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ACBonus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ACBonus)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName(ClubRP.Views.Personnages.PersoRessources.FlatFooted)
                </dt>

                <dd>
                    @(Model.AC + Model.ACBonus + Model.ArmureAC + Model.NaturalAC)
                </dd>

                <dt>
                    @Html.DisplayName(ClubRP.Views.Personnages.PersoRessources.TouchAC)
                </dt>

                <dd>
                    @(Model.AC + ModDex)
                </dd>
            </dl>
        </div>

        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ResistanceSort)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ResistanceSort)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReductionDegat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReductionDegat)
                </dd>
            </dl>
        </div>
    </div>
    @*Section arme-------------------------------------------------*@
    <div class="row">
        <div class="col-md-4">
            <button class="button" onclick="$('#equipement').toggle();">Equipement</button>
        </div>
        <div class="col-md-4">
            <button class="button" onclick="$('#skills').toggle();">Skills</button>
        </div>
        <div class="col-md-4">
            <button class="button" onclick="$('#notes').toggle();">Notes</button>
        </div>
    </div>
    <div id="equipement" style="display: none">
        <h4> @Html.DisplayName(ClubRP.Views.Personnages.PersoRessources.Armes)</h4>
        <hr />
        <div class="row">
            <div class="col-md-2">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.NomArme)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NomArme)
                    </dd>
                </dl>
            </div>
            <div class="col-md-1">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Hit)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Hit)
                    </dd>
                </dl>
            </div>
            <div class="col-md-1">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Degats)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Degats)
                    </dd>
                </dl>
            </div>
            <div class="col-md-1">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Crit)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Crit)
                    </dd>
                </dl>
            </div>
            <div class="col-md-2">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Munition)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Munition)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DetailsArme)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DetailsArme)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.NomArme2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NomArme2)
                    </dd>
                </dl>
            </div>
            <div class="col-md-1">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Hit2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Hit2)
                    </dd>
                </dl>
            </div>
            <div class="col-md-1">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Degats2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Degats2)
                    </dd>
                </dl>
            </div>
            <div class="col-md-1">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Crit2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Crit2)
                    </dd>
                </dl>
            </div>
            <div class="col-md-2">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Munition2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Munition2)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DetailsArme2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DetailsArme2)
                    </dd>
                </dl>
            </div>
        </div>

        @*Section armure-------------------------------------------------*@
        <h4>@Html.DisplayName(ClubRP.Views.Personnages.PersoRessources.Armures)</h4>
        <hr />
        <div class="row">
            <div class="col-md-2">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.NomArmure)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NomArmure)
                    </dd>
                </dl>
            </div>
            <div class="col-md-2">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ArmureAC)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ArmureAC)
                    </dd>
                </dl>
            </div>
            <div class="col-md-2">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TypeArmure)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TypeArmure)
                    </dd>
                </dl>
            </div>
            <div class="col-md-2">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Malus)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Malus)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DetailsArmure)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DetailsArmure)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.NomBouclier)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NomBouclier)
                    </dd>
                </dl>
            </div>
            <div class="col-md-2">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.BouclierAC)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BouclierAC)
                    </dd>
                </dl>
            </div>
            <div class="col-md-2">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.MalusBouclier)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MalusBouclier)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DetailsBouclier)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DetailsBouclier)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
        @*Section skills-------------------------------------------------*@

    <div id="skills" style="display: none">
        <h4>@Html.DisplayName(ClubRP.Views.Personnages.PersoRessources.Skills)</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Appraise)
                    </dt>

                    <dd>
                        @(Model.Appraise + ModInt)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Balance)
                    </dt>

                    <dd>
                        @(Model.Balance + ModDex - Model.Malus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Bluff)
                    </dt>

                    <dd>
                        @(Model.Bluff + ModCha)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Climb)
                    </dt>

                    <dd>
                        @(Model.Climb + ModFor - Model.Malus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Concentration)
                    </dt>

                    <dd>
                        @(Model.Concentration + ModCon)
                    </dd>

                    <dt>
                        @Html.DisplayFor(model => model.Craft1Nom)
                    </dt>

                    <dd>
                        @(Model.Craft1 + ModInt)
                    </dd>

                    <dt>
                        @Html.DisplayFor(model => model.Craft2Nom)
                    </dt>

                    <dd>
                        @(Model.Craft2 + ModInt)
                    </dd>

                    <dt>
                        @Html.DisplayFor(model => model.Craft3Nom)
                    </dt>

                    <dd>
                        @(Model.Craft3 + ModInt)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Decipher)
                    </dt>

                    <dd>
                        @(Model.Decipher + ModInt)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Diplomacy)
                    </dt>

                    <dd>
                        @(Model.Diplomacy + ModCha)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DisableDevice)
                    </dt>

                    <dd>
                        @(Model.DisableDevice + ModInt)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Disguise)
                    </dt>

                    <dd>
                        @(Model.Disguise + ModCha)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EscapeArtist)
                    </dt>

                    <dd>
                        @(Model.EscapeArtist + ModDex - Model.Malus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Forgery)
                    </dt>

                    <dd>
                        @(Model.Forgery + ModInt)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GatherInfo)
                    </dt>

                    <dd>
                        @(Model.GatherInfo + ModDex)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.HandleAnimal)
                    </dt>

                    <dd>
                        @(Model.HandleAnimal + ModCha)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Heal)
                    </dt>

                    <dd>
                        @(Model.Heal + ModSag)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Hide)
                    </dt>

                    <dd>
                        @(Model.Hide + ModDex - Model.Malus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Intimidate)
                    </dt>
                    <dd>
                        @(Model.Intimidate + ModCha)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Jump)
                    </dt>

                    <dd>
                        @(Model.Jump + ModFor - Model.Malus)
                    </dd>

                    <dt>
                        @Html.DisplayFor(model => model.Knowledge1Name)
                    </dt>

                    <dd>
                        @(Model.Knowledge1 + ModInt)
                    </dd>

                    <dt>
                        @Html.DisplayFor(model => model.Knowledge2Name)
                    </dt>

                    <dd>
                        @(Model.Knowledge2 + ModInt)
                    </dd>

                    <dt>
                        @Html.DisplayFor(model => model.Knowledge3Name)
                    </dt>

                    <dd>
                        @(Model.Knowledge3 + ModInt)
                    </dd>

                    <dt>
                        @Html.DisplayFor(model => model.Knowledge4Name)
                    </dt>

                    <dd>
                        @(Model.Knowledge4 + ModInt)
                    </dd>

                    <dt>
                        @Html.DisplayFor(model => model.Knowledge5Name)
                    </dt>

                    <dd>
                        @(Model.Knowledge5 + ModInt)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Listen)
                    </dt>

                    <dd>
                        @(Model.Listen + ModSag)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MoveSilently)
                    </dt>

                    <dd>
                        @(Model.MoveSilently + ModDex - Model.Malus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OpenLock)
                    </dt>

                    <dd>
                        @(Model.OpenLock + ModDex)
                    </dd>
                    <dt>
                        @Html.DisplayFor(model => model.Perform1Nom)
                    </dt>

                    <dd>
                        @(Model.Perform1 + ModCha)
                    </dd>

                    <dt>
                        @Html.DisplayFor(model => model.Perform2Nom)
                    </dt>

                    <dd>
                        @(Model.Perform2 + ModCha)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">


                    <dt>
                        @Html.DisplayFor(model => model.Profession1Nom)
                    </dt>

                    <dd>
                        @(Model.Profession1 + ModSag)
                    </dd>

                    <dt>
                        @Html.DisplayFor(model => model.Profession2Nom)
                    </dt>

                    <dd>
                        @(Model.Profession2 + ModSag)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ride)
                    </dt>

                    <dd>
                        @(Model.Ride + ModDex)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Search)
                    </dt>

                    <dd>
                        @(Model.Search + ModInt)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SenseMotive)
                    </dt>

                    <dd>
                        @(Model.SenseMotive + ModSag)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SleightOfHand)
                    </dt>

                    <dd>
                        @(Model.SleightOfHand + ModDex - Model.Malus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Spellcraft)
                    </dt>

                    <dd>
                        @(Model.Spellcraft + ModInt)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Spot)
                    </dt>

                    <dd>
                        @(Model.Spot + ModSag)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Survival)
                    </dt>

                    <dd>
                        @(Model.Survival + ModSag)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Swim)
                    </dt>

                    <dd>
                        @(Model.Swim + ModFor - (Model.Malus * 2))
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Tumble)
                    </dt>

                    <dd>
                        @(Model.Tumble + ModDex - Model.Malus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UMD)
                    </dt>

                    <dd>
                        @(Model.UMD + ModCha)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UseRope)
                    </dt>

                    <dd>
                        @(Model.Profession1 + ModDex)
                    </dd>
                </dl>
            </div>
        </div>
        </div>
        @*Section notes-------------------------------------------------*@
    <div id="notes" style="display: none">
        <h4> @Html.DisplayName(ClubRP.Views.Personnages.PersoRessources.Note)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>
        </dl>
        </div>
    </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.PersonnageID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
