@model IEnumerable<ClubRP.Models.Personnage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@(ClubRP.Views.Shared.SharedRessources.Index)</h2>

<p>
    @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Create, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomPerso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Race)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Niveau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>

        <th></th>
    </tr>
    @if (ViewBag.Personnage != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomPerso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Race)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Classe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Niveau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>

                <td>

                        @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Modify, "Edit", new { id = item.PersonnageID }) |
                        @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Detail, "Details", new { id = item.PersonnageID }) |
                        @Html.ActionLink(ClubRP.Views.Shared.SharedRessources.Delete, "Delete", new { id = item.PersonnageID })
                    
                </td>
            </tr>
                        }
                    }
</table>
@Html.ActionLink(ClubRP.Views.Shared.SharedRessources.BtnBack, "Index", "Joueurs")